<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pelanggaran</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">mahasiswa</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card *ngFor="let item of dataPelanggaran">
    <ion-item>
      <ion-label>
        {{item.nama}}
        <p>Lokasi : {{item.lokasi}}</p>
      </ion-label>
      <ion-button expand="block" (click)="open_modal_edit(true,item.id)"
        >Edit</ion-button
      >
      <ion-button color="danger" slot="end" (click)="hapusPelanggaran(item.id)">Hapus</ion-button>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-button (click)="open_modal_tambah(true)" expand="block"
      >Tambah Pelanggaran</ion-button
    >
  </ion-card>
  <!-- ini untuk modal tambah -->
  <ion-modal [isOpen]="modal_tambah">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Batal</ion-button>
          </ion-buttons>
          <ion-title>Tambah Pelanggaran</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input
            label="Nama Pelanggaran"
            labelPlacement="floating"
            required
            [(ngModel)]="nama"
            placeholder="Masukkan Nama Pelanggaran"
            type="text"
          >
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="Lokasi Pelanggaran"
            labelPlacement="floating"
            required
            [(ngModel)]="lokasi"
            placeholder="Masukkan Lokasi"
            type="text"
          >
          </ion-input>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-button
              type="button"
              (click)="tambahPelanggaran()"
              color="primary"
              shape="full"
              expand="block"
              >Tambah Pelanggaran
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- ini untuk modal edit -->
  <ion-modal [isOpen]="modal_edit">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Batal</ion-button>
          </ion-buttons>
          <ion-title>Edit Pelanggaran</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input
            label="Nama Pelanggaarn"
            labelPlacement="floating"
            required
            [(ngModel)]="nama"
            placeholder="Masukkan Nama Pelanggaarn"
            type="text"
          >
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="Lokasi Pelanggaarn"
            labelPlacement="floating"
            required
            [(ngModel)]="lokasi"
            placeholder="Masukkan LokasiPelanggaarn"
            type="text"
          >
          </ion-input>
        </ion-item>
        <ion-input required [(ngModel)]="id" type="hidden"> </ion-input>
        <ion-row>
          <ion-col>
            <ion-button
              type="button"
              (click)="editPelanggaran()"
              color="primary"
              shape="full"
              expand="block"
              >Edit Mahasiswa
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
