<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pelanggaran</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="margin-right: 20%; margin-left: 20%; margin-top: 3%;">

    <ion-button (click)="open_modal_tambah(true)" fill="outline" expand="block">Tambah Pelanggaran</ion-button>
  </div>

  <ion-card  *ngFor="let item of dataPelanggaran" color="light">
    <ion-card-header>
      <ion-card-title style="font-weight: 700;">{{item.nama}}</ion-card-title>
      <ion-card-subtitle>Lokasi : {{item.lokasi}}</ion-card-subtitle>
    </ion-card-header>

    <ion-button (click)="open_modal_edit(true,item.id)" fill="clear" style="color: rgb(214, 214, 34); font-weight: 700;">Edit</ion-button>
    <ion-button (click)="hapusPelanggaran(item.id)" fill="clear" style="color: rgb(255, 0, 0); font-weight: 700;">Hapus</ion-button>
    
    
  </ion-card>

  
  <!-- ini untuk modal tambah -->
  <ion-modal [isOpen]="modal_tambah">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Batal</ion-button>
          </ion-buttons>
          <ion-title>Tambah Pelanggaran</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input label="Nama Pelanggaran" labelPlacement="floating" required [(ngModel)]="nama"
            placeholder="Masukkan Nama Pelanggaran" type="text">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Lokasi Pelanggaran" labelPlacement="floating" required [(ngModel)]="lokasi"
            placeholder="Masukkan Lokasi" type="text">
          </ion-input>
        </ion-item>
        <ion-row>
          <ion-col style="margin-inline: 20%; margin-top: 3%;">
            <ion-button type="button" (click)="tambahPelanggaran()" color="primary" fill="outline"  >Tambah
              Pelanggaran
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- ini untuk modal edit -->
  <ion-modal [isOpen]="modal_edit">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Batal</ion-button>
          </ion-buttons>
          <ion-title>Edit Pelanggaran</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input label="Nama Pelanggaarn" labelPlacement="floating" required [(ngModel)]="nama"
            placeholder="Masukkan Nama Pelanggaarn" type="text">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Lokasi Pelanggaarn" labelPlacement="floating" required [(ngModel)]="lokasi"
            placeholder="Masukkan LokasiPelanggaarn" type="text">
          </ion-input>
        </ion-item>
        <ion-input required [(ngModel)]="id" type="hidden"> </ion-input>
        <ion-row>
          <ion-col>
            <ion-button type="button" (click)="editPelanggaran()" color="warning" fill="outline"  >Edit
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>